@media (max-width: 790px) {

html,body {
    margin-top: 2px !important;
}

.logo {
    float: none;
    margin: auto; 
}
.logo-right p {font-size: 0.6em;}
.navbar-default {display:none;}
.dropdown-menu img{display:none;}
.top-nav {position:relative !important;}
.navbar-mobile {display:block; text-align:left; padding:5px 0 0 5px;}
.img-slider {display:none;}
.header {position:relative;}
.breadcrumb {margin-top: 5px;margin-bottom: 5px;}
.mt140 {display:none;}
.mobile-btn-menu {display:block;}
.footer-claim-informer-text{display:none;}
//.footer-claim-informer{display:none;}
//.footer-claim-informer-m{
    display:block;
    border: 1px solid #fff;
    padding: 5px;
    margin: 8px 20px;
    float: right;
}
.footer-claim-caption-left {
    float: none;
    width: 90%;
    margin: 60px 0px 0px 30px;
}

.footer-claim-caption-right {
    float: none;
    width: 100%;
    text-align: center;
}

.teaser-menu>li {
    width: 100%;
    vertical-align: top;
    margin-top: 0px;
    text-align: left;
}

}